/* mainHomepage.module.css */
.searchContainer {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 30px;
  }
  
  .searchBar {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 900px;
    width: 1000px;
  }
  
  .submitButton {
    padding: 10px 20px;
    background-color: #53a165;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 15%;
    margin-top: 10px;
  }
  
  .dropdownButton {
    padding: 10px 20px;
    background-color: #53a165;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 10;
    margin-left: 900px;
  }
  
  .dropdownInput {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .whiteBox {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    margin-left: 900px;
    width: 1000px;
    height: 1000px;
    border: 1px solid #ccc;
  }
  
  .horizontalLineOne {
    border: none;
    height: 2px;
    background-color: #ccc;
    margin: 20px 0;
  }
  .horizontalLineTwo {
    border: none;
    height: 2px;
    background-color: #ccc;
    margin-top: 600px;
  }
  
  .profileSection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  .profileIcon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .profileName {
    color: #53a165;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-size: larger;
  }
  
  .infoRow {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    text-decoration: underline;
  }
  
  .infoItem {
    display: flex;
    align-items: center;
    margin-right: 20px;
    text-decoration: underline;
  }
  
  .gender {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 400px;
    text-decoration: underline;
  }
  
  .location {
    margin-top: 10px;
    text-decoration: underline;
  }
  
  .petFriendly {
    margin-top: 70px;
    margin-bottom: 10px;
    margin-left: -780px;
    text-decoration: underline;
  }
  
  .rent {
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-decoration: underline;
  }
  
  .room {
    margin-top: -84px;
    margin-bottom: 10px;
    margin-left: 560px;
    text-decoration: underline;
  }
  
  .additionalInfo {
    position: absolute;
    top: 1050px;
    left: 925px;
    z-index: 10;
    font-style: italic;
  }